.header,
.header h1,
.header ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
  padding-left: 10px;
}

.header ul li {
  list-style-type: none;
}

.app-logo {
  width: 100px;
}